/* styles slick override css */

.slick-prev:before, .slick-next:before {
    color: #60cac7; /* Tailwind teal-500 color */
    font-size: 35px;
    opacity: 1; /* Make sure arrows are visible */
  }
  
  .slick-prev:hover:before, .slick-next:hover:before {
    color: #2c7a7b; /* Tailwind teal-700 color */
  }
  
  .slick-prev {
    left: -35px;
  }
  
  .slick-next {
    right: -35px;
  }


  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  }
  
  .accordion-content.show {
    max-height: 1000px; /* Set a maximum value to handle the expansion */
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  